@import url(../../fonts/fonts.css);

.Header {
  display: flex;
  max-width: 1264px;
  height: auto;
  height: 65px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.Header__menuBar {
  position: relative;
  z-index: 10;
  max-width: 766px;
  width: 100%;
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.Header__menuBar_element {
  color: white;
  font-size: 12px;
  font-family: CustomFontTB;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  overflow-wrap: break-word;
  cursor: pointer;
}

.Header__logo {
  margin-left: 30px;
  margin-top: 10px;
  width: 60px;
  height: 44px;
}

.Header__eyeImage {
  margin-right: 30px;
  margin-top: 10px;
  width: 60px;
}

.hide {
  display: none;
}

@media screen and (max-width: 850px) {
  .Header__menuBar {
    flex-direction: column;
    height: auto;
    /* position: absolute;
    top: 10%; */
    /* right: 50%; */
  }
  .Header__menuBar_element {
    font-size: 20px;
  }
}

.hamburger {
  color: white;
  cursor: pointer;
  font-family: CustomFontTB;
  position: relative;
  z-index: 10;
}
.closeBtn {
  width: 100%;
  display: flex;
  color: white;
  cursor: pointer;
  font-family: CustomFontTB;
  position: relative;
  z-index: 10;
  justify-content: flex-start;
}
