/* fonts.css */

@font-face {
  font-family: "CustomFontGH";
  src: url("./AgrandirFonts/Agrandir-GrandHeavy.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CustomFontTB";
  src: url("./AgrandirFonts/Agrandir-TextBold.otf") format("truetype"); /* Replace with the actual font file path */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CustomFontGL";
  src: url("./AgrandirFonts/Agrandir-GrandLight.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CustomFontN";
  src: url("./AgrandirFonts/Agrandir-Narrow.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CustomFontR";
  src: url("./AgrandirFonts/Agrandir-Regular.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CustomFontTI";
  src: url("./AgrandirFonts/Agrandir-ThinItalic.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CustomFontTI";
  src: url("./AgrandirFonts/Agrandir-Tight.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "CustomFontTI";
  src: url("./AgrandirFonts/Agrandir-WideBlackItalic.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "CustomFontTI";
  src: url("./AgrandirFonts/Agrandir-WideLight.otf") format("truetype"); /* Replace with the actual font file path */

  font-weight: normal;
  font-style: italic;
}
