.coverSection,
.bankingSection,
.investingSection,
.cashCardSection,
.paymentsSection {
  max-width: 1366px;
  height: 725px;
  background-color: black;
  /* background-size: "cover"; */
  /* background-position: "center"; */
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.background {
  justify-content: center;
  display: flex;
  background-image: url(../assets/Vector.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* .backgroundImage {
  width: 1366px;
  height: 725px;
} */
