@import url(../fonts/fonts.css);

.BankingMainBody {
  overflow: hidden;
  width: 100%;
}

.BankingMainBody__content_data {
  position: absolute;
  top: 300px;
  width: 300px;
  left: 14%;
  z-index: 7;
  background: rgb(0, 213, 75);
}
.BankingMainBody__content_data h1 {
  font-family: CustomFontGH;
  color: white;
}
.BankingMainBody__content_data p {
  font-family: CustomFontR;
}
.BankingMainBody__content_image {
  position: absolute;
  right: 30%;
  bottom: 165px;
  z-index: 3;
}

.BankingMainBody__images {
  position: relative;
  max-width: 1366px;
  width: 100%;
  height: 725px;
  display: flex;
}
.BankingMainBody__stairs1 {
  position: absolute;
  right: 5%;
  bottom: 32.5%;
}
.BankingMainBody__stairs2 {
  position: absolute;
  bottom: 9%;
  left: 5%;
}
.BankingMainBody__ramp1 {
  position: absolute;
  right: 19%;
  top: 200px;
}
.BankingMainBody__ramp2 {
  position: absolute;
  bottom: 5%;
  left: 13%;
}
.BankingMainBody__track1 {
  position: absolute;
  left: 25%;
  top: 200px;
}
.BankingMainBody__track2 {
  position: absolute;
  right: 10%;
  top: 15px;
}
.BankingMainBody__tube {
  position: absolute;
  bottom: -4px;
  left: 35%;
  z-index: 3;
}
.BankingMainBody__monster {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.BankingMainBody__hole1 {
  position: absolute;
  bottom: -4px;
  right: 17%;
  z-index: 4;
}
.BankingMainBody__hole2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.BankingMainBody__collumn {
  position: absolute;
  top: 100px;
  left: 5%;
}

@media screen and (max-width: 1050px) {
  .BankingMainBody__content_data {
    width: 250px;
  }
  .BankingMainBody__ramp1 {
    right: 15%;
  }
  .BankingMainBody__content_image {
    right: 20%;
  }
  .BankingMainBody__track1 {
    top: 115px;
  }
}
@media screen and (max-width: 880px) {
  .BankingMainBody__ramp1 img {
    width: 207px;
  }
  .BankingMainBody__content_image img {
    width: 262px;
  }
  .BankingMainBody__track1 img {
    width: 210px;
  }

  .BankingMainBody__stairs1 img {
    width: 67.5px;
  }
  .BankingMainBody__stairs2 img {
    width: 60px;
  }
  .BankingMainBody__ramp2 img {
    width: 207px;
  }
  .BankingMainBody__ramp2 {
    bottom: 8%;
    left: 15%;
  }

  .BankingMainBody__track2 img {
    width: 225px;
  }
  .BankingMainBody__tube img {
    width: 112.5px;
  }
  .BankingMainBody__monster img {
    width: 90px;
  }
  .BankingMainBody__hole1 img {
    width: 285px;
  }
  .BankingMainBody__hole2 img {
    width: 240px;
  }
  .BankingMainBody__collumn img {
    width: 97.5px;
  }
}
@media screen and (max-width: 700px) {
  .BankingMainBody__content_data {
    width: 200px;
    left: 5%;
  }
  .BankingMainBody__ramp1 img {
    width: 140px;
  }
  .BankingMainBody__content_image img {
    width: 175px;
  }
  .BankingMainBody__track1 img {
    width: 135px;
  }

  .BankingMainBody__stairs1 img {
    width: 45px;
  }
  .BankingMainBody__stairs2 img {
    width: 40px;
  }
  .BankingMainBody__ramp2 img {
    width: 150px;
  }
  .BankingMainBody__ramp2 {
    bottom: 8%;
    left: 15%;
  }

  .BankingMainBody__track2 img {
    width: 125px;
  }
  .BankingMainBody__tube img {
    width: 75px;
  }
  .BankingMainBody__monster img {
    width: 60px;
  }
  .BankingMainBody__hole1 img {
    width: 190px;
  }
  .BankingMainBody__hole2 img {
    width: 160px;
  }
  .BankingMainBody__collumn img {
    width: 97.5px;
  }
}

@media screen and (max-width: 500px) {
  .BankingMainBody__content_image {
    right: 0%;
  }
}
