.CashCardMainBody {
  overflow: hidden;
  width: 100%;
}

.CashCardMainBody__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* position: relative;
  z-index: 3; */
}

.CashCardMainBody__content_image {
  /* width: 462px; */
  position: absolute;
  overflow: hidden;
  z-index: 3;
  top: 90px;
  right: 40%;
}
.CashCardMainBody__content_data {
  width: 300px;
  position: relative;
  top: 145px;
  right: 25%;
}
.CashCardMainBody__content_data h1 {
  color: #00d54b;
  font-family: CustomFontGH;
}
.CashCardMainBody__content_data p {
  font-family: CustomFontR;
  font-size: 14px;
  color: white;
}

.CashCardMainBody__staris_1 {
}
.CashCardMainBody__stairs_2 {
}
.CashCardMainBody__hand {
}
.CashCardMainBody__coffee {
}
.CashCardMainBody__shoe {
}
.CashCardMainBody__burger {
}
.CashCardMainBody__card {
}
