.MainBody {
  position: absolute;
  z-index: 2;
  max-width: 1366px;
  width: 100%;
  height: 725px;
}

.MainBody__cube {
  position: absolute;
  top: 8%;
  left: 10%;
}
.MainBody__stairs {
  position: absolute;
  top: 8%;
  right: 10%;
}
.MainBody__cubes {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.MainBody__pillar {
  position: absolute;
  bottom: 0px;
  right: 10%;
}

.MainBody__phone {
  position: absolute;
  left: 0px;
  top: 25%;
  z-index: 4;
  width: 100%;
  display: flex;
  justify-content: center;
}
.MainBody__titleSection {
  width: 100%;
  position: absolute;
  /* z-index: 2; */
  display: flex;
  flex-direction: column;
  height: 100%;
  /* top: 30%; */
  justify-content: center;
  align-items: center;
}

.MainBody__titleSection1,
.MainBody__titleSection2 {
  color: white;
  font-weight: 800;
  margin: 0px;
  font-size: 150px;
  text-align: center;
  height: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.MainBody__titleSection1 {
  position: relative;
  z-index: 3;
}
.MainBody__titleSection2 {
  position: relative;
  z-index: 5;
}

.MainBody__vector {
  position: absolute;
  z-index: 4;
  bottom: 10%;
  left: 50%;
}

.MainBody__title {
  height: 302px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 850px) {
  .MainBody__titleSection1,
  .MainBody__titleSection2 {
    font-size: 75px;
  }
  .MainBody__phone {
    top: 37%;
  }
  .MainBody__phone img {
    width: 185px;
    height: 227px;
  }
  .MainBody__title {
    height: 140px;
  }
  .MainBody__stairs {
    top: 5%;
    right: 0%;
  }
  .MainBody__pillar {
    right: 0%;
  }
  /* .MainBody__cube {
    left: 0%;
  } */
  .MainBody__cubes {
    left: 5%;
  }
}
