.Footer {
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  color: white;
  max-width: 1264px;
  height: 65px;
  top: 640px;
  /* align-items: flex-end; */
  justify-content: space-between;
  margin: auto;
  margin: 0px 25px;
}

.Footer__appleIcon,
.Footer__googleIcon {
  border-radius: 10px;
  border: 1px solid #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  width: 133px;
  height: 50px;
  padding: 0px 20px;
  font-size: 12px;
  font-weight: 800;
  background-color: black;
  margin-right: 20px;
  /* padding: 25px; */
  cursor: pointer;
}
.Footer__appleIcon img,
.Footer__googleIcon img {
  width: 19.454795837402344px;
  height: 21.223756790161133px;
}

.Footer__policyText {
  font-size: 10px;
  width: 50%;
  color: #b6b6b6;
}

.Footer__left {
  display: inline-flex;
  justify-content: flex-end;
  /* justify-content: space-around; */
  align-items: center;
  width: 50%;
  gap: 20px;
}

.Footer__right {
  display: inline-flex;

  width: 50%;
}
.Footer__right h3 {
  font-size: 12px;
}

.socialIcons {
  display: inline-flex;
  gap: 10px;
  justify-content: space-around;
  width: 25%;
}
.socialIcons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Footer__vector {
  /* height: 65px; */
}

@media screen and (max-width: 700px) {
  .Footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 584px;
    align-items: center;
    /* display: grid; */
    margin: 0px;
  }
  .Footer__left {
    width: 100%;
    justify-content: flex-start;
  }
  .Footer__right {
    width: 100%;
    justify-content: center;
  }
  .Footer__googleIcon,
  .Footer__appleIcon {
    /* margin: 5px; */
    gap: 5px;
    padding: 0px 0px;
    justify-content: center;
  }
  .Footer__right {
  }
  .Footer__policyText {
    margin: 10px;
    width: 80%;
  }

  .socialIcons {
    gap: 10px;
    justify-content: space-around;
    width: 10%;
    position: absolute;
    bottom: 5px;
    right: 0px;
    display: flex;
    flex-direction: column;
  }
}
